:root {
    /* theme colors */
    --gebablue: #10195B; /* GEBA Blauw Brand Book 2025 */
    --gebalightblue: #0553DD; /* Accent Blauw Brand Book 2025 */
    --gebayellow: #F7B82D; /* GEBA Geel Brand Book 2025 */
    /* --gebalightyellow: #fff4e6;  Accent Geel Brand Book 2025 */
    --gebahighlight: #eef5ff; /* GEBA Grijs Brand Book 2025 */

    --gebaactiongreen: #45af00; /* Actie Groen (do not use) Brand Book 2025 */
    --gebawarning: #f7b82d;
    --gebasuccess: #54b44e;
    --gebainfo: #f2ef02;
    --gebadanger: #e32400;

    
    /* Set colors from theme */
    --primary: var(--gebablue);
    --secondary: var(--gebalightblue);
    --success: #var(--gebasuccess);
    --info: var(--gebainfo);
    --warning: var(--gebawarning);
    --danger: var(--gebadanger);
    --light: var(--gebahighlight);
    --dark: #343a40;


    
    /* Override Bootstrap variables */
    --bs-primary: var(--primary) !important;
    --bs-warning: var(--warning) !important;
    --bs-danger: var(--danger) !important;
    --bs-secondary: var(--secondary) !important;
    --bs-info: var(--info) !important;
    --bs-light: var(--light) !important;
    --bs-dark: var(--dark) !important;
    --bs-success: var(--success) !important;
}

/* Ensure Bootstrap classes use custom colors */
.bg-danger {
    background-color: var(--danger) !important;
}

.bg-warning {
    background-color: var(--warning) !important;
}
.bg-primary {
    background-color: var(--primary) !important;
}


.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-info {
    background-color: var(--info) !important;
    border-color: var(--info) !important;
}

.btn-secondary {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.btn-warning {
    background-color: var(--warning) !important;
    border-color: var(--warning) !important;
}

.btn-outline-light {
    border-color: var(--light) !important;
    color: var(--light) !important;
}

.text-white {
    color: var(--light) !important;
}

.table-secondary {
    background-color: var(--secondary) !important;
}

/* Add hover colors for buttons */
.btn-primary:hover {
    background-color: darken(var(--primary), 10%) !important;
    border-color: darken(var(--primary), 10%) !important;
}

.btn-info:hover {
    background-color: darken(var(--info), 10%) !important;
    border-color: darken(var(--info), 10%) !important;
}

.btn-secondary:hover {
    background-color: darken(var(--secondary), 10%) !important;
    border-color: darken(var(--secondary), 10%) !important;
}

.btn-warning:hover {
    background-color: darken(var(--warning), 10%) !important;
    border-color: darken(var(--warning), 10%) !important;
}

.btn-outline-light:hover {
    background-color: var(--light) !important;
    color: var(--dark) !important;
}

/* Add click colors for buttons */
.btn-primary:active {
    background-color: darken(var(--primary), 15%) !important;
    border-color: darken(var(--primary), 15%) !important;
}

.btn-info:active {
    background-color: darken(var(--info), 15%) !important;
    border-color: darken(var(--info), 15%) !important;
}

.btn-secondary:active {
    background-color: darken(var(--secondary), 15%) !important;
    border-color: darken(var(--secondary), 15%) !important;
}

.btn-warning:active {
    background-color: darken(var(--warning), 15%) !important;
    border-color: darken(var(--warning), 15%) !important;
}

.btn-outline-light:active {
    background-color: var(--light) !important;
    color: var(--dark) !important;
}

/* Add custom colors for btn-outline-primary */
.btn-outline-primary {
    border-color: var(--primary) !important;
    color: var(--primary) !important;
}

.btn-outline-primary:hover {
    background-color: var(--primary) !important;
    color: var(--light) !important;
}

.btn-outline-primary:active {
    background-color: darken(var(--primary), 15%) !important;
    border-color: darken(var(--primary), 15%) !important;
    color: var(--light) !important;
}
